<div class="center">
    <button class="leftbutton" routerLink="/users">Users</button>
    <button class="rightbutton" routerLink="/auth" *ngIf="!isLogged()">Login</button>
    <button class="rightbutton" routerLink="/personcab" *ngIf="isLogged()">{{getName()}}</button>
</div>

