.leftbutton{
    background: transparent;
    border: solid 1.5px #df4331;
    padding: 7px 15px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    font-size: 11px;
    text-transform: uppercase;
    color: #000;
    outline: none;
    cursor: pointer;
}
.rightbutton{
    background: transparent;
    border: solid 1.5px #df4331;
    padding: 7px 15px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 11px;
    text-transform: uppercase;
    color: #000;
    outline: none;
    cursor: pointer;
    margin-left:-5px;
}
button:hover{
    background: #c81b0f;
    color: #fff;
}
.center{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}