<div class = "footer">
  <div class ="row">
    <div style="float:left;">
      <h5>Evgen Molchanuk</h5>
      <span> 17 y.o. student (Odessa National Polytechnic University),<br> tennis player, bicyclist </span>
    </div>
    <div style="float:right;">
      <h5>Links</h5>
      <ul>
        <li>Email: <span class="info">jekajakorev@gmail.com</span></li>
        <li>Facebook: <a href="https://www.facebook.com/profile.php?id=100006951277491">Jenya Molchanyuk</a></li>
        <li>Vk: <a href="https://vk.com/evgenko2000">Jenya Molchanyuk</a></li>
        <li>Github: <a href="https://github.com/2astm">2astm</a> </li>
        <li>Gitlab: <a href="https://gitlab.com/jekajakorev">Jenya Jakorev</a></li>
      </ul>
    </div>
  </div>
</div>