
h5{
    color: #c81b0f;
}
a{
    color: #df4331;
    text-decoration: none;
    font-weight: normal;
}

.info{
    color: #df4331;
    text-decoration: none;
    font-weight: normal;
}
a:hover{
    font-weight: normal;
    text-decoration: underline;
}
li{
    font-weight: bold;
    color: #c81b0f;
}
span{
    color: #c81b0f;
}