input{
    margin-top: 2px;
    width: 150px;
    display: flow;
    height: 20px;
    padding: 5px 5px;
    line-height: 20px;
    outline: none;
    border-radius: 50px;
    border: solid 2px #df4331;
    text-align: center;
    font-size: 14px;
}
.editname {
    margin-top: 15px;
    width: 300px;
    left:50%;
    position: relative;
    margin-left: -150px;
}
.align{
    width: 300px;
    margin: 13px auto;
    text-align: center;
}
.center{
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 6px;
}

button{
    background: transparent;
    border: solid 1.5px #df4331;
    padding: 7px 15px;
    border-radius: 50px;
    font-size: 11px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    outline: none;
}

button:hover{
    background: #c81b0f;
    color: #fff;
}
.logoutbutton{
   float: right;
    margin-top: 15px;
}
.logoutbutton:hover{
    background: blue;
    color: #fff;
    border-color: blue;
}
h2{
    color: #df4331;
}
div{
    color: #df4331;
}
.label{
    font-weight: bold;
    color: #c81b0f;
    margin-top: 15px;
}

.hatch{
    --webkit-animation-name: hatch;
    --webkit-animation-duration: 2s;
    animation-name: hatch;
    animation-duration: 2s;
}

@-webkit-keyframes hatch {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
@keyframes hatch {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
