<g-map></g-map>
<input type="text" [(ngModel)]="name" class="editname">
<button class="logoutbutton" (click)="logout()">Log Out</button><br>
<button class="center" (click) = "locationsave()">Save location</button>

<div *ngIf="user">
    <h2 class="label">{{ user.name }}</h2>

        <button routerLink="/">Back</button>
        <button (click)="toogleEditState()">Edit</button>

    <form #userForm="ngForm">
        <div>
            <dt class="label"> Name</dt>
            <dt [hidden]="isEditState">{{user.name}}</dt>
            <dt [hidden]="!isEditState">
                <input type="text" title="name" [(ngModel)]="user.name" name="name" class="{{nameclass}}" />
            </dt>

            <dt [hidden]="!isEditState" class="label">Password</dt>
            <dt [hidden]="!isEditState">
                <input type="password" title="name" [(ngModel)]="user.password" name="password" />
            </dt>


            <dt class="label">Age</dt>
            <dt [hidden]="isEditState">{{user.age}}</dt>
            <dt [hidden]="!isEditState">
                <input type="number" title="age" [(ngModel)]="user.age" name="age" />
            </dt>

            <dt class="label">Occupation</dt>
            <dt [hidden]="isEditState">{{user.occupation}}</dt>
            <dt [hidden]="!isEditState">
                <input type="text" title="Ocupation" [(ngModel)]="user.occupation" name="address" />
            </dt>

            <dt></dt>
            <dt [hidden]="!isEditState" style="margin: 13px auto;">
                <button type="submit" (click)="save()">Save</button>
                <button type="submit" (click)="toogleEditState()">Cancel</button>
            </dt>
        </div>
    </form>

</div>