<input type = 'text' [(ngModel)]='name' class="{{loginclass}}" placeholder="Login">
<input type = 'password' [(ngModel)]='password' class="{{passclass}}" placeholder="Password">
<div class="loginalign">
<button (click)="loggin()" type="submit" class="buttonlogin">Log in</button>
<button routerLink="/" class="buttonlogin">Close</button><br/>
    <span style="font-size:10px;">If you don't have an account, please <a [routerLink]="['/auth/register']">sign up</a></span>
</div>

