<input type = 'text' [(ngModel)]='name' class="{{loginclass}}" placeholder="login">
<input type = 'password' [(ngModel)]='password' class="{{passclass}}" placeholder="password">
<input type = 'number' [(ngModel)]='age' class="logininput" placeholder="age">
<input type = 'text' [(ngModel)]='occupation' class="logininput" placeholder="occupation">
<div class="loginalign">
    <button (click)="register()" type="submit" class="buttonlogin" >Register</button>
    <button routerLink="/auth/" class="buttonlogin">Close</button>
</div>