button{
    background: transparent;
    border: solid 1.5px #df4331;
    padding: 7px 15px;
    border-radius: 50px;
    font-size: 11px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

button:hover{
    background: #c81b0f;
    color: #fff;
}
.logoutbutton{
    float: right;
    margin-top: 15px;
}
.logoutbutton:hover{
    background: blue;
    color: #fff;
    border-color: blue;
}
h2{
    color: #df4331;
}
div{
    color: #df4331;
}
.label{
    font-weight: bold;
    color: #c81b0f;
    margin-top: 15px;
}