<g-map></g-map>
<h2>Userinfo</h2>
<div *ngIf="user">

     <dl>
         <span class="label">Name</span>
         <span>{{user.name}}</span><br>
         <span class="label">Age</span>
         <span>{{user.age}}</span><br>
         <span class="label">Ocupation</span>
         <span>{{user.occupation}}</span><br>
         <dt>
             <button type="submit" routerLink="/users/">Cancel</button>
         </dt>
     </dl>
</div>


