main {
    padding: 0em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: block;
}
body, html {
    margin: 0 !important;
    padding: 0 !important;
}
.footer{
    width: 100%;
    font-size: 15px;
    background-color: #eeeeee;
    display: inline-block;
    bottom: 0;
}