<div style="margin: 1em;">
    <app-header></app-header>
    <div>
        <main>
            <img src="../assets/images/angular.png">
        </main>
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer class="footer"></app-footer>