h2{
    color: #c81b0f;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
button{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    height: auto;
    background: none;
    padding: 5px 5px;
    line-height: 20px;
    outline: none;
    border-radius: 50px;
    border: solid 2px #df4331;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
button:hover{
    background: #c81b0f;
    color: #fff;
}