a{
    color: #df4331;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
button{
    background: transparent;
    border: solid 1.5px #df4331;
    padding: 7px 15px;
    border-radius: 50px;
    font-size: 11px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
}

button:hover{
    background: #df4331;
    color: #fff;
}
.usersalign{
    width: 300px;
    margin: 13px auto;
    text-align: center;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}