<div class="usersalign">
<h2 style="color: #c81b0f;">Users</h2>
<ul class="items">
    <li *ngFor="let user of users | async">
        <a [routerLink]="['/user', user.id]">{{ user.name }}</a>
    </li>
</ul>

<button routerLink="/notfound">Go to not found page</button>
</div>